/ProjetCS-GTECH2/bin/Debug/net6.0/ProjetCS-GTECH2.deps.json
/ProjetCS-GTECH2/bin/Debug/net6.0/ProjetCS-GTECH2.dll
/ProjetCS-GTECH2/bin/Debug/net6.0/ProjetCS-GTECH2.pdb
/ProjetCS-GTECH2/bin/Debug/net6.0/ProjetCS-GTECH2.runtimeconfig.json
/.vs
obj
